extends layout

block content

  h1 ID: #{products_instance._id}
  
  p #[strong Title:] 
    a(href=products_instance.book.url) #{products_instance.book.product_name}

  p #[strong Status:] 
    if products_instance.status=='Available'
      span.text-success #{products_instance.status}
    else
      span.text-warning #{products_instance.status} 
      
  if products_instance.status!='Available'
    p #[strong Due back:] #{products_instance.due_back_formatted}

  
